@import 'bootstrap'; 

body {
margin-top: 100px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
color: black;

}
#middle, #form, #article { 
       margin-top: 750px; 
       height: auto;
       margin: auto;
       text-align: center;
       top :150px;
       width: 100%;
       margin-bottom: 30px;
       a {
               color: black;
       }
       
               .form-inputs {
                       margin_top: 20px;
                       .input.boolean {
                               width: 100px auto;                 
                               }
               }
       }

       #register {
               input{
                       width:300px;
               }
       }


       .navbar {
               height: 70px; 
               background: rgba(255, 255, 254, 0.4);
               padding: 5px 10px;
               

               .nav {
                       margin-top: 10px;
               }
               #leftnav {
                       color: green;
                       margin-top: 0px;
               }
               .btn {
                       padding: 3px;
               }
               .navlist {
                       vertical-align:top;
                       ul.nav li a {
                               background: rgba(255,255,255,0.0)
                       }
               }
       }



       #home { 
                 background: url(http://www.pageresource.com/wallpapers/wallpaper/dog-abyss_1571739.jpg)50% 0 no-repeat;

                 min-height: 1000px;
                 height: auto;
                 margin-top: dog-abyss_15717390px;  
                 width: 100%; 
                 max-width: 1920px;
                 position: relative;
                 -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
                 box-shadow: 0 0 50px rgba(0,0,0,0.8);
                 }

       #form{ 
                 height: 458px; 
                 position: absolute; 
                 text-align: center; 
                 top: 20%; 
                 width: 100%; 
                 margin-bottom: 30px;
               }