@import 'bootstrap';

.col-md-3 {
   max-width: 220px;
   height: 320px; 
   display: inline-block; 
   vertical-align: top;
}
.destacados {
   vertical-align: top;
   padding: 10px 0;
   text-align: center;
}

.destacados > div > div {
   padding: 10px;
   border: 1px solid transparent;
   border-radius: 4px;
   transition: 0.2s;
}
.destacados > div:hover > div {
   margin-top: -10px;
   border: 1px solid rgb(200, 200, 200);
   box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px 2px;
   background: rgba(200, 200, 200, 0.1);
   transition: 0.5s;
}


   .jumbotron  {
   margin-top: 100px;

   opacity: 0.4;
   color: #FFF;
   border-radius: 180px;
   }
   .jumbotron-sm { padding-top: 10px;
   padding-bottom: 24px; }
   .jumbotron small {
   color: black;
   }
   .h1 small {
   font-size: 24px;

   }
   .map {
      display: block;
   }