

  <div class="container">
    <div class="row destacados">
        <div class="col-md-3 col-sm-3 col-xs-8">
            <div>
                <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/015/309/3a01e14.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h2>David Ortiz</h2>
                <h3<p>San Francisco, CA.</p> Jr. Front end web developer.
                <br><br><br><a href="http://www.linkedin.com/pub/david-ortiz/35/517/898/" class="btn btn-primary" title="Enlace">About</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-8">
            <div>
                <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/040/1e7/2ecd2c6.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h2>Will Russell</h2>
                <p>Redding, CA.</p> Jr. Full Stack WEb Developer
               <br><br><br><a href="http://www.linkedin.com/pub/william-russell/75/b36/109" class="btn btn-primary" title="Enlace">About</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-8">
            <div>
                <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/3/005/04b/224/138a180.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h2>Chung Man Kim</h2>
                <p>San Francisco, CA</p>Jr. Full Stack Web Developer
                <a href="http://www.linkedin.com/in/jethrocmkim" class="btn btn-primary" title="Enlace">About</a>
            </div>
        </div>

            <div class="col-md-3 col-sm-3 col-xs-8">
               <div>
                <img src="https://media.licdn.com/media/p/7/005/050/01b/2a90aad.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h2>Nicandro Martinez</h2>
                <p>Guadalajara, Jal. Mexico.</p> Jr. Front End Web Developer
                <br><br><a href="http://www.linkedin.com/pub/nicandro-martinez-sotelo/23/a12/952" class="btn btn-primary" title="Enlace">About</a>
            </div>
        </div>
    </div>
</div>

        




