<br><h1>contact us</h1>
    <form class="well span8">
        <div class="row">
            <div class="span3">
                <label>First Name</label> <input class="span3" placeholder=
                "Your First Name" type="text"> <label>Last Name</label>
                <input class="span3" placeholder="Your Last Name" type="text">
                <label>Email Address</label> <input class="span3" placeholder=
                "Your email address" type="text"> <label>Subject</label>
                <select class="span3" id="subject" name="subject">
                    <option selected value="na">
                        Choose One:
                    </option>
    
                    <option value="service">
                        General Customer Service
                    </option>
    
                    <option value="suggestions">
                        Suggestions
                    </option>
    
                    <option value="product">
                        Product Support
                    </option>
                </select>
            </div>
    
            <div class="span5">
                <label>Message</label> 
                <textarea class="input-xlarge span5" id="message" name="message"
                rows="15">
  
    </textarea>
 </div>

            <button class="btn btn-primary pull-right" type=
            "submit">Send</button>
        </div>
    </form>
        
        <div class="span4">
                 <iframe width="300" height="150" frameborder="10" style="border:10" src="https://www.google.com/maps/embed/v1/place?q=1324%20McAllister%20Street%2C%20San%20Francisco%2C%20CA%2C%20United%20States&key=AIzaSyBUvTl6_YyTnZb3e-UXEks5K60IKpOvZWM"></iframe>     
         </div>

                <div class="span4"><h4> Our Office</h4>
            <legend><span class="glyphicon glyphicon-globe"></legend></span>
            <address>
                <strong>Dognate, LLC.</strong><br>
                1324B McAllister Street.<br>
                San Francisco, CA 94115<br><br>
          
                <strong>Web Team</strong><br>
                <a href="mailto:#">info@dognate.com</a>
            </address>
            
       

        <a href="https://www.facebook.com/dognate.org">
            <img src="http://icons.iconarchive.com/icons/fasticon/web-2/48/FaceBook-icon.png"></a>

       <a href="https://twitter.com/tweetdognate"> 
        <img src="http://icons.iconarchive.com/icons/yootheme/social-bookmark/48/social-twitter-box-blue-icon.png"></a>
        </div> 
 </div>
        