
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                   <small>Feel free to contact us</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-8">
            
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Product Support</option>
                            </select>
                        </div>
                    </div> <!-- end of col-md-6 -->
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div> <!-- end of col-md-6 -->
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-center" id="btnContactUs">
                            Send Message</button>
                    </div> <!-- end of col-md-12 -->
                </div> <!-- end of row 1.1 -->
                
            </div> <!-- end of div well --> 
        </div> <!-- end of col-md-8 -->
       
        <div class="col-md-4">
            <div class="map">
                     <figure class="img_inner">
                          <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.778445, -122.435085&amp;sspn=37.778445, -122.435085&amp;ie=UTF8&amp;hq=&amp;hnear=San Francisco,+mcallister,+California&amp;ll=40.649974,-73.950005&amp;spn=37.778445, -122.435085&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                         </figure>
        
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong>Dognate, LLC.</strong><br>
                1324B McAllister Street.<br>
                San Francisco, CA 94115<br>
           
            </address>
            <address>
                <strong>Web Team</strong><br>
                <a href="mailto:#">info@dognate.com</a>
            </address>
            </form>
        </div>
    </div>
</div>

        <a href="https://www.facebook.com/dognate.org">
            <img src="http://icons.iconarchive.com/icons/fasticon/web-2/48/FaceBook-icon.png"></a>

       <a href="https://twitter.com/tweetdognate"> 
        <img src="http://icons.iconarchive.com/icons/yootheme/social-bookmark/48/social-twitter-box-blue-icon.png"></a>
        