
<h2>Dognate’s vision</h2>
<div id="box_1">
        
        <p><h3>Mission</h3>Dognate conects dog owners and organizations that are in need of supplies. Dognate helps organizations and dog owners to exchange, donate or volunteer where help is most needed.<p>
          
          <h3><p>How Dognate works</h3><p>
        <p>Donate Some dog rescue organizations lack time or resources to obtain needed supplies. Generous pet owners can help by picking up and dropping off supplies. 
        <br>Low-income families that are responsible dog owners might not have the proper supplies for their dogs, or are in need of some. Dognate connects people with supplies to people that need them.
        <br>Some dog organizations are in need of bedding, blankets etc, since their services are done outdoors.
        Pet stores that have extra supplies assist our mission to make sure every dog has what they need for a happy life.
        <br>Donations to any dog oriented nonprofit can be done.
        <br>FUTURE: crowd funding donations of money where needed.

  
        <p><h3>Volunteer</h3><p>
        People with skills that can be useful such as engineers, electricians, plumbers, painters, etc. -- anyone, really, who can lend a hand to help people or dog organizations that might be in need for any kind of help can find volunteer opportunities.<p>

        <p><h3>Ways people can use the site</h3><p>

              <p>Sarah has a extra dog beds and  she wants to give them away. Joe is fostering a dog and needs
                    more beds. Sarah lists hers and they get connected.<p>

                   <p> A dog rescue  organizations needs to paint and freshen their holding areas. They 
                    come to Dognate and post their need.  Joe, a painter, sees the posting and connects with them
                    to volunteer his time to paint.<p>

                 <p>  Mary wants to find dog organizations near her where she can volunteer. She comes to  
                   Dognate and looks at the Dognate posts and then looks at all Volunteer Match posts and 
                   selects an opportunity. She either contacts the Dognate post or submits her interest through 
                   Volunteer Match.
                   <p>


</div>
