<div class="container">
	<div class="row">
		<!-- Carousel -->
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item active">
			    	<img src="assets/page4_img4.jpg" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h3>
                            	<span>Dognate’s vision<p> is to ensure every dog in America <p>(and eventually the world) has <p>a warm bed, food and toys to live a happy life,<p> at home or in a shelter</span>
                            </h3>

                            <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
                          
                        </div>
                    </div><!-- /header-text -->
			    </div>
			    <div class="item">
			    	<img src="assets/slide3_edited-1.jpg" alt="Second slide">
			    	<!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h3>
                            	<span><h3>They need our love and care. 
								<p>It is so easy to make them happy!.<p> </h3></span>
                            </h3>
                            <br>
                                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
                        </div>
                    </div><!-- /header-text -->
			    </div>
			    <div class="item">
			    	<img src="assets/slide1.jpg" alt="Third slide">
			    	<!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h3>
                            	<span>The only and best thing we can do for them is <p>to give them a good and happy life.</span>
                            </h3>
                            <br>
           
			<!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
		</div><!-- /carousel -->
	</div>
</div>   
					  
                                <a class="btn btn-theme btn-sm btn-min-block" href="/users/sign_in">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="/users/sign_up">Register</a>
                        </div>
                    </div>